<% layout('cms/boilerplate')%>

<div class="d-flex">
    <h2 class="col-6 offset-2 mt-3 mb-5">Add Post</h2>
</div>

<div class="d-flex">
    <form class="col-6 offset-2" action="/" method="POST">
        <div class="form-group mb-3">
            <label for="postTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="postTitle" name="post[title]">
        </div>

        <div class="form-group mb-3">
            <label for="postDesc" class="form-label">Description</label>
            <textarea  type="text" class="form-control" id="postDesc" name="post[description]"></textarea>
        </div>

        <div class="form-group mb-3">
            <label for="postImg" class="form-label">Image</label>
            <input type="text" class="form-control" id="postImage" name="post[image]">
        </div>
        
        <button type="submit" class="btn btn-success">Publish</button>
    </form>
</div>
